@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; /* Fonte igual ao Figma */
}

body {
  background-color: #fafbfc; /* Fundo cinza bem claro para destacar os cards brancos */
  color: #333333;
}